.contact {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../images/common-bg.svg);
    background-size: cover;
    opacity: 1px;
    padding: 60px 20px;
    text-align: center;
    h2 {
        font-size: 2rem;
        margin-top: 30px;
        &::after {
            content: '';
            position: absolute;
            height: 5px;
            width: 3rem;
            background: #7843E9;
            left: 48%;
            transform: translateY(1275%);
            border-radius: 5px;
            
        }
        p {
            font-size: 1.2em;
            margin-bottom: 10px;
            line-height: 1.6;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.after_contact{
    margin-top: 60px;
}
.btn-resume {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:blueviolet;
    color: bisque;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: translateY(-10px); 
      }
}
label {
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
    background-color: white;
    margin-top: 50px;
    padding-bottom: 40px;
}


form input,form textarea {
    margin-bottom: 1rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color:#f0f0f0;
    border:1px solid #ebebeb;
    color: black;
}
.form-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 10px; 
    
}
.form_btn {
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 50px;
    background-color: blueviolet;
    color: bisque;
    border-radius: 5px;
    text-decoration: none;
    padding: 1rem 4rem;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: translateY(-10px); 
      }
}