.education {
    background-color: #f9f9f9;
    padding: 60px 20px;
    text-align: center;
}

.education h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.degree {
    margin-bottom: 40px;
}

.degree h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.degree p {
    font-size: 1.2em;
    margin-bottom: 5px;
    line-height: 1.6;
}

