$background-color: white;
header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    background-color: $background-color;
    z-index: 100;
}
.header_logo {
    height: 50px;
    width: 50px;
    margin-left: 14px;
    border-radius: 30px;
}
.header_name{
    margin-left: -119px;
    color: #4c5865;
}
h3.header_name {
    padding: 0.2rem 1rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 850;
    transition: color .3s;
}
h3.header_name:hover {
    color: purple;
    
}

nav.header_contents {

    padding: 0.2rem 1rem;
    display: inline-block;
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: color .3s;
}

nav { 
    ul {
    display: flex;
    justify-content: center;
    margin-left: 373px;
    margin-right: 130px;
    li {
        list-style: none;
        margin: 0 15px;
        a {
            color: black;
            text-decoration: none;
            nav ul li &:hover {
                color: purple;
    }
    }
    }
}
}
