.hero {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)), url(../images/common-bg.svg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-primary {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: #111;
    font-weight: 800;
    padding-top: 30px;
}
.text-primary {
    color: #333;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
}
.hero-content {
    color: purple;
    width: 1300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.btn-hero {
    padding: 1.5rem 8rem;
    font-size: 2rem;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: blueviolet;
    color: bisque;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 66px;
    padding: 1rem 5rem;
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: translateY(-10px); 
      }
}
.hero_icons {
    background-color: #fff;
    transform: translateX(-20px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    height: 245px;
    width: 50px;
    padding-bottom: 0px;
    margin-left: 1px;
    padding-top: 0px;
}
.home-hero__mouse-scroll-cont{
    position: absolute;
    bottom: -15%;
    left: 49.5%;
    transform: translateX(17%);
}
.mouse{
    width: 25px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 60px;
    position: relative;
    overflow: hidden;
}
 li.home_icon{
    padding: .5rem 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    color:  #666;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-right: 35px;
    &:hover{
        background-color: lightskyblue;
            }
 }
 li.linked_icon{
    padding: .5rem 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    color:  #666;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-right: 35px;
    &:hover{
        background-color: lightskyblue;
            }
 }
 li.phone_icon{
    padding: .5rem 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    color:  #666;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-right: 35px;
    &:hover{
        background-color: lightskyblue;
            }
 }
 li.git_icon{
    padding: .5rem 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: white;
    border-radius: 5px;
    font-weight: 600;
    color:  #666;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-right: 35px;
    &:hover{
        background-color: lightskyblue;
            }
 }
 li.mail_icon{
    padding: .5rem 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background:white;
    border-radius: 5px;
    font-weight: 600;
    color: #666;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-right: 35px;
    &:hover{
background-color: lightskyblue;
    }
 }


 ul li a {
    color: black;
    text-decoration: none;
 }