.projects {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5em;
    margin-top: 30px;
}

.project {
    margin-bottom: 40px;
}

.project h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.2em;
    margin-bottom: 5px;
    line-height: 1.6;
}
.portfolio_image {
    height : 300px;
}*/
.project1 {
    font-size: 2rem;
}
.project2 {
    font-size: 2rem;
}

.description1 {
    font-size: 2rem;
    margin: 10px 20px;
    margin-top: 150px;
    padding: 10px 20px;
    color: grey;
    border-radius: 5px;
}
.description2 {
    font-size: 2rem;
    margin: 10px 20px;
    margin-top: 150px;
    padding: 10px 20px;
    color: grey;
    border-radius: 5px;
}
