.projects {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.projects h2 {
    font-size: 2.5em;
    margin-top: 30px;
    &::after {
        content: '';
        position: absolute;
        height: 5px;
        width: 3rem;
        background: #7843E9;
        left: 48%;
        transform: translateY(854%);
        border-radius: 5px;
    }
}


.project_image1,.project_image2 {
    height : 300px;
}
.project_backgrond1 {
    background-image: url('../images/projectbackground.jpeg');
    background-size: contain;
}
.project1 {
    font-size: 2rem;
}
.project2 {
    font-size: 2rem;
}

.description1 {
    font-size: 2rem;
    margin: 10px 20px;
    margin-top: 150px;
    padding: 10px 20px;
    color: grey;
    border-radius: 5px;
}
.description2 {
    font-size: 2rem;
    margin: 10px 20px;
    margin-top: 150px;
    padding: 10px 20px;
    color: grey;
    border-radius: 5px;
}
 .btn-project{
    display: inline-block;
    margin-top: 20px;
    padding: .6rem 1rem;
    font-size: 1.6rem;
    background-color: blueviolet;
    color: bisque;
    border-radius: 5px;
    text-decoration: none;
 }
 .project__content-title1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: -9rem;
    margin-top: 5rem;
}
 .project__content-title2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: -9rem;
    margin-top: 7rem;
}